@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<div>
    <h2>SignalR monitor</h2>
    <ul id="messages">

    </ul>
</div>


@section scripts {
    <script type="text/javascript">
        var monitor;
        $(function () {
            monitor = $.connection.monitor;   // Name del hub con camel case
            monitor.client.newEvent = onNewEvent;
            // Hook the events
            //$.connection.hub.start();   // Starts negotiation context
            $.connection.hub.start({transport: 'longPolling'});   // Starts negotiation context
        })

        function onNewEvent(eventType, client) {
            $('#messages').append('<li>' + eventType + ' from ' + client + '</li>');
        }
    </script>
}
